@import "mixins";

body {
  font-family: $font-family-basic;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  margin: 0; padding: 0;
  min-width: 320px;

  h1 {
    @include header-font-size(1em,1em,1.4em,2em);
  }

  h2 {
    @include header-font-size(1em,1em,1.1em,1.2em);
  }

  h3 {
    @include header-font-size(1em,1.2em,1.3em,1.4em);
  }

  h4 {
    @include header-font-size(1em,1.1em,1.2em,1.2em);
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $color-main;
  transition: background .3s $base-transition-style, color .3s $base-transition-style;
  border-bottom: 1px solid $color-main;

  &:hover {
    background: $color-main;
    color: white;
  }
}

input, textarea {
  outline: none;
  border-radius: 0;
  background: white;
  border: 0;
  border: 1px solid $color-main;
  resize: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  padding: $grid/5 $grid/4;
  margin: 0;

  &:focus::-webkit-input-placeholder {
    color: $color-main;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    background: white;
  }
}

input[type=submit],
.button,
button {
  background: white;
  box-shadow: none;
  transition: background .3s $base-transition-style, color .3s $base-transition-style;
  padding: $grid/5 $grid/4;
  cursor: pointer;
  color: $color-main;
  -webkit-appearance: none;
  border: 1px solid $color-main;

  &:hover {
    background: $color-main;
    color: white;
    text-decoration: initial;
  }
}

ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

.form {
  img {
    width: 150px;
  }
}

.placeholder {
  height: 50px;
  border: 1px solid #111;
}

form {
  fieldset {
    border: 0;
    padding: 0;
  }
}

input:checked {
  background: black;
}

.project-container {
  > ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    > li {
      width: 100%;
      margin-bottom: $grid*2;

      @include respond-to(small) {
        width: 50%;
        padding: 2%;
      }

      @include respond-to(medium) {
        width: 33.3%;
        padding: 3%;
      }

      @include respond-to(xlarge) {
        padding: 5%;
      }

      &.small {
        @include respond-to(small) {
          width: 50%;
        }

        @include respond-to(medium) {
          width: 33.3%;
        }
      }

      &.medium {
        @include respond-to(small) {
          width: 70%;
        }

        @include respond-to(medium) {
          width: 50%;
        }
      }

      &.large {
        width: 100%;
      }

      > img {
        width: 100%;
        margin-bottom: $grid/4;
      }
    }
  }
}

.portfolio-login {
  > .overlay {

    background: white;
    width: 100%;
    height: 100%;

    > form {
      max-width: 280px;
      margin: auto;
      padding-top: $grid*2;
    }
  }
}

p {
  margin-top: 0;
  margin-bottom: 0;
  text-indent: $grid;

  @include respond-to(medium) {
    text-indent: $grid*2;
  }
}

.portfolio-project-list {
  padding: $grid;

  .bio {
    margin-bottom: $grid*2;

    @include respond-to(medium) {
      font-size: 1.4em;
    }

    @include respond-to(large) {
      font-size: 2em;
    }

    @include respond-to(xlarge) {
      font-size: 2.4em;
    }

    > a {
      border-bottom: 1px solid $color-main;
    }
  }

  > div {
    > ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;

      > li {
        width: 100%;
        margin-bottom: $grid*2;

        @include respond-to(small) {
          width: 50%;
          padding: 3%;
        }

        @include respond-to(medium) {
          width: 33.3%;
          padding: 2%;
        }

        @include respond-to(large) {
          width: 25%;
        }

        @include respond-to(xlarge) {
          width: 20%;
        }

        img {
          width: 100%;
          margin-bottom: $grid/4;
        }
      }
    }
  }
}

.portfolio-header {
  margin-bottom: $grid*2;
  width: 100%;

  @include respond-to(large) {
    margin-bottom: $grid*4;
  }

  > .portfolio-links {
    display: flex;

    h1 {
      width: 50%;
      padding-right: 15%;

      @include respond-to(small) {
        padding-right: 0;
      }

      &:last-child {
        text-align: right;
        padding-left: 15%;
        padding-right: 0;

        @include respond-to(small) {
          padding-left: 0;
          text-align: left;
        }
      }

      &.active a {
        background: $color-main;
        color: white;
      }
    }

    a {
      &.active {
        background: $color-main;
        color: white;
      }
    }
  }
}
