@import "mixins";

body {
  font-family: $font-family-basic;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  margin: 0; padding: 0;
  min-width: 320px;

  @include respond-to(xlarge) {
    font-size: 18px;
  }

  &.hidden {
    overflow: hidden;
  }

  h1 {
    @include header-font-size(1.2em,1.3em,1.4em,2em);
  }

  h2 {
    @include header-font-size(1.2em,1.3em,1.4em,2em);
  }

  h3 {
    @include header-font-size(1em,1.2em,1.3em,1.4em);
  }

  h4 {
    @include header-font-size(1em,1.1em,1.2em,1.2em);
  }

  p {
    line-height: 1.2;
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $color-main;
  transition: background .3s $base-transition-style, color .3s $base-transition-style;
  border-bottom: 1px solid $color-main;

  &:hover {
    background: $color-main;
    color: white;
  }
}

input, textarea {
  outline: none;
  border-radius: 0;
  background: white;
  border: 0;
  border: 1px solid $color-main;
  resize: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  padding: $grid/5 $grid/4;
  margin: 0;

  &:focus::-webkit-input-placeholder {
    color: $color-main;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    background: white;
  }
}

input[type=submit],
.button,
button {
  background: white;
  outline: none;
  box-shadow: none;
  transition: background .3s $base-transition-style, color .3s $base-transition-style;
  padding: $grid/5 $grid/4;
  cursor: pointer;
  color: $color-main;
  -webkit-appearance: none;
  border: 1px solid $color-main;
  text-transform: uppercase!important;

  &:hover {
    background: $color-main;
    color: white;
    text-decoration: initial;
  }
}

.cancel-button {
  border: 0;
  position: relative;
  top: -30px;
  left: 130px;
}

ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

.portfolio-container {
  padding: $grid;
}

.portfolio-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  margin-right: -$grid;
  margin-bottom: $grid*4;

  > li {
    width: 50%;
    margin-bottom: $grid*2;
    padding-right: $grid;

    @include respond-to(medium) {
      width: 25%;
    }

    @include respond-to(large) {
      width: 16.6%;
    }

    @include respond-to(xlarge) {
      width: 12.5%;
    }

    img {
      display: block;

      width: 100%;
      margin-bottom: $grid/2;
    }

    a {
      border: 0;

      &:hover {
        background: transparent;
        color: $color-main;
      }
    }

    h2 {
      font-size: .8em;
      margin-bottom: $grid/2;

      @include respond-to(small) {
        font-size: 1em;
      }
    }

    .date,
    .categories {
      font-size: .8em;
      line-height: 1;
    }

    .categories {
      display: flex;
      flex-wrap: wrap;

      span:last-child span:last-child {
        display: none;
      }
    }
  }
}

.portfolio-footer {
  font-size: .8em;

  @include respond-to(large) {
    margin: auto;
    max-width: 90%;
  }

  @include respond-to(xlarge) {
    max-width: 80%;
  }

  a,
  span {
    margin-right: $grid;
  }
}

.form {
  input[type=text],
  input[type=password],
  .featured,
  .description {
    width: 100%;
    margin-bottom: $grid/2;
  }

  .featured input {
    margin-right: $grid/4;
  }

  section {
    margin-bottom: $grid*2;
  }

  p {
    text-indent: 0;
    margin-bottom: $grid/2;
  }

  .years {
    display: flex;
    flex-wrap: wrap;

    max-width: 500px;

    input {
      width: 45%;

      &:first-child {
        margin-right: $grid/2;
      }

      &:nth-child(2) {
        margin-left: $grid/2;
      }
    }
  }

  .description {
    min-height: 200px;
  }

  .portfolio-drop-zone {
    width: 100%;
    margin-bottom: $grid;

    > div {
      width: 100%!important;
      height: auto!important;
      border-width: 1px!important;
      border-color: $color-main!important;
      border-radius: 0!important;
      text-align: center;
      padding: $grid*2 $grid;
    }
  }

  .form-images {
    border: 1px solid $color-main;
    border-bottom: 0;
    margin-bottom: $grid*2;

    > li {
      border-bottom: 1px solid $color-main;
      padding: $grid;

      > * {
        display: inline-block;
        vertical-align: top;

        margin-right: $grid/2;
      }

      textarea {
        height: 100px;
        width: 50%;
      }

      .image {
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
        height: 100px;

        > img {
          display: block;

          height: 100%;
        }
      }
    }
  }
}

.placeholder {
  height: 50px;
  background: $color-main;
  border: 1px solid #111;
}

form {
  fieldset {
    border: 0;
    padding: 0;
  }
}

input:checked {
  background: black;
}

.project-container {
  margin-bottom: $grid*4;

  @include respond-to(large) {
    margin-bottom: $grid*10;
  }

  > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @include respond-to(small) {
      margin-right: -$grid;
    }

    > li {
      width: 100%;
      margin-bottom: $grid*2;

      @include respond-to(small) {
        width: 50%;
        padding-right: $grid;
      }

      @include respond-to(medium) {
        width: 25%;
        margin-bottom: $grid*4;
      }

      > span {
        display: inline-block;

        font-size: .8em;
      }

      &.small {
        @include respond-to(small) {
          width: 50%;
        }

        @include respond-to(medium) {
          width: 25%;
        }
      }

      &.medium {
        width: 100%;

        @include respond-to(small) {
          width: 50%;
        }
      }

      &.large {
        width: 100%;

        @include respond-to(medium) {
          width: 75%;
        }
      }

      > .image {
        margin-bottom: $grid/4;
        width: 100%;

        &:before {
          transition: opacity .3s $base-transition-style, visibility .3s $base-transition-style;
          content: '';

          background: black;
          position: fixed;
          z-index: 2;
          top: 0; left: 0;
          width: 100%; height: 100%;
          visibility: hidden; opacity: 0;
        }

        &.active {
          &:before {
            opacity: 1; visibility: visible;
          }

          > img {
            cursor: zoom-out;

            z-index: 9;
          }
        }

        > img {
          cursor: zoom-in;

          transition: transform .3s $base-transition-style, z-index .3s $base-transition-style;
          position: relative;
          display: block;
          width: 100%;
          z-index: 1;
        }
      }
    }
  }
}

.portfolio-login {
  > .overlay {

    background: white;
    width: 100%;
    height: 100%;

    > form {
      max-width: 280px;
      margin: auto;
      padding-top: $grid*2;
    }
  }

  .portfolio-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;
  }
}

p {
  margin-top: 0;
  margin-bottom: 0;
  text-indent: $grid;

  @include respond-to(medium) {
    text-indent: $grid*2;
  }
}

.portfolio-project-list {
  .bio {
    text-indent: 0;
    margin-bottom: $grid*2;
    font-size: 1.2em;
    line-height: 1.4;

    @include respond-to(medium) {
      font-size: 2em;
      line-height: 1.3;
    }

    @include respond-to(large) {
      font-size: 2.6em;
      margin: auto;
      margin-bottom: $grid*4;
      max-width: 90%;
    }

    @include respond-to(xlarge) {
      max-width: 80%;
    }

    > a {
      border-bottom: 1px solid $color-main;

      &.active {
        background: $color-main;
        color: white;
      }
    }
  }
}

.portfolio-header {
  margin-bottom: $grid*2;
  width: 100%;

  @include respond-to(large) {
    margin: auto;
    margin-bottom: $grid*4;
    max-width: 90%;
  }

  @include respond-to(xlarge) {
    max-width: 80%;
  }

  > .portfolio-links {
    display: flex;
    justify-content: space-between;

    @include respond-to(small) {
      justify-content: flex-start;
    }

    h1 {
      width: 140px;
      line-height: 1.4;
      font-size: 1em;
      margin-bottom: 0;

      @include respond-to(small) {
        width: 50%;
      }

      &:last-child {
        text-align: right;

        @include respond-to(small) {
          text-align: left;
        }
      }

      &.active a {
        background: $color-main;
        color: white;
      }
    }

    a {
      &.active {
        background: $color-main;
        color: white;
      }
    }
  }
}
