@import "mixins";

.project-container {
  > .project-info {
    position: relative;
    margin-bottom: $grid*2;

    @include respond-to(medium) {
      font-size: 1.4em;
    }

    @include respond-to(large) {
      font-size: 2em;
    }

    @include respond-to(xlarge) {
      font-size: 2.4em;
    }

    > h1 {
      margin-bottom: 0;
    }

    > .actions {
      position: absolute;

      top: 0; right: 0;
    }

    .description {

      &.active {
        p {
          display: block;
        }

        button {
          display: none;
        }
      }

      > div {
        margin-bottom: $grid/2;
      }

      p {
        display: none;

        &:first-child {
          display: block;
        }
      }
    }
  }
}
