$grid: 20px;
$color-accent: #E30D20;
$color-main: #111;
$baseTransitionStyle: cubic-bezier(0.660, 0.000, 0.070, 1.000);

$sizeXXL:       1380px;
$sizeXL:        1280px;
$sizeL:         1024px;
$sizeM:         768px;
$sizeS:         320px;
